@media (min-width: 992px) {
	.dropdown:hover > .dropdown-menu {
		display: block;
	}
	.dropend:hover > .dropdown-menu {
		display: block;
	}
	.dropdown > .dropdown-toggle:active {
		pointer-events: none;
	}
}

@media (max-width: 992px) {
	nav .offcanvas-body {
		padding: 0;
	}
	nav .navbar-brand img {
		height: 55px;
	}
	nav .offcanvas-header .btn-close:focus {
		box-shadow: none;
	}
	nav ul li {
		display: block;
		text-align: left;
		align-items: start;
		border-top: 1px solid rgba(0, 0, 0, 0.105);
	}
	nav ul li.nav-item:first-child {
		border: none;
	}
	nav ul li a.nav-link,
	nav ul li.dropend a {
		padding: 10px 20px;
		display: flex;
		justify-content: space-between;
	}
	nav ul li ul.dropdown-menu {
		box-shadow: none;
		padding: 0;
	}
	nav ul li ul.dropdown-menu a {
		padding: 10px 20px;
	}
	nav ul li.dropend a.dropdown-item::after {
		content: "\f078";
	}
	#contents .row .col-lg-3:first-child {
		order: 2;
	}
	#contents .row .col-lg-3:last-child {
		order: 3;
	}
}

@media (max-width: 768px) {
	footer .copyright {
		flex-direction: column;
		gap: 5px;
	}
}

@media (max-width: 375px) {
	#home-hero .swiper .swiper-button-next,
	#home-hero .swiper .swiper-button-prev {
		width: 36px;
		height: 36px;
	}
	#home-hero .swiper .swiper-button-next::after,
	#home-hero .swiper .swiper-button-prev::after {
		font-size: 1rem;
	}
}
